body{
    font-family: 'Helvetica Neue';
    background: #f0ede9;
    color: #1E1E36;
}
a{
    color: #D62F2F;
    text-decoration: underline;
    cursor: pointer;
}
header:before{
    content: '';
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 0.25em;
    background: #D62F2F;
}
header{
    position: fixed;
    top: 0.25em;
    left: 0;
    right: 0;
    height: 4em;
    background: #e3e0d5;
    padding: 0;
    min-width: 30em;

    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.33);
}
header figure{
    margin: 0;
}
header nav{
    position: fixed;
    right: 0;
    top: 0.25em;
    height: 4em;
}
header ul{
    list-style: none;
    padding: 0.5em;
    height: 3em;
    margin: 0;
    vertical-align: middle;
}
header nav ul li{
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin: 0.125em 0.5em;
    padding: 0.75em;
    transition: background 0.25s, color 0.25s;
    font-weight: bold;
}
header nav ul li.selected, header nav ul li:hover{
    background: #D62F2F;
    color: #fffefc;
}
.main-content{
    margin: 0.5em;
    margin-left: 1.5em;
    margin-top: 5.5em;
    display: inline-block;
}
.side-content{
    margin: 0.5em;
    margin-left: 1.5em;
    margin-top: 5.5em;
    display: inline-block;
    vertical-align: top;
}
article{
    background-color: #fffefc;
    padding: 5em;
    min-height: 10em;
    min-width: 10em;
    width: 35em;
    margin: 0;
    margin-bottom: 2em;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.44);
    border-radius: 10px;
}
.side-content article{
    width: 25em;
    padding: 2em;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.24);
    transition: box-shadow 0.5s;
}
.side-content article:hover{
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.44);
}
h1{
    font-weight: 100;
    font-size: 5em;
    padding: 0;
    margin: 0;
}
h2{
    font-weight: 100;
    font-size: 3em;
    padding: 0;
    margin: 0;
}