{% load staticfiles %}
{% load pages_tags %}
<html>
    <head>
        <title>MrMichael</title>
        <link type="text/css" rel="stylesheet" href="{% static "pages/style.css"%}">
    </head>
    <body>
        <header>
            <a href="/">
                <figure>
                    <img src="{% static "pages/logo.png"%}" >
                </figure>
            </a>
            <nav>
                <ul>
                    <li {% if is_blog %}class="selected"{% endif %}><a href="/">blog</a></li>
                    <li {% if is_about %}class="selected"{% endif %}><a href="/page/about/">about</a></li>
                    <li {% if is_pictures %}class="selected"{% endif %}><a href="/pictures/">pictures</a></li>
                    <li {% if is_resume %}class="selected"{% endif %}><a href="/page/resume/">résumé</a></li>
                </ul>
            </nav>
        </header>
        <section style="text-shadow: 0px -1px 1px rgba(0,0,0,0.3), 0 1px 1px rgba(255,255,255,0.5);font-weight: bold; color: #e3e0d5; text-align: center;top: 0.3em;left: 0; right: 0;font-size: 3em;position: absolute;">MrMichael</section>
        <section class="main-content">
            {% block main_content %}
            {% endblock %}
        </section>
        <section class="side-content">
            <article>
                <h2>Michael</h2>
                <img src="{% static "pages/michael.jpg"%}" >
                <p>
                Software Developer from Nottingham – United Kingdom. Speaker of Japanese. Fan of tokusatsu and loud music. Eater of food.
                </p>
            </article>
            <article>
                <h2>Hire me</h2>
                <p>
                Looking for an awesome developer who enjoys working on the front end? Working on an exciting project? Based in not the UK? Email me: michael@mrmichael.co.uk
                </p>
            </article>
            <article>
                {% recent_updates %}
            </article>
        </section>
    </body>
</html>