{% extends "pages/base.html" %}
{% load staticfiles %}
{% load cache %}
{% load pages_tags %}
            {% block main_content %}
            {% for page in pages %}
                {% with page_text=page.page_text %}
                {% cache 300 pagetext_cache page_text.pk %}
                <article>
                    <section {% if page.header_bg %} class="article-header has-background" style="background-image: url('{{page.header_bg}}');"{% else %}class="article-header"{% endif %}>
                        <h1><a href="/page/{{page.url}}/">{{page_text.title}}</a></h1>
                    </section>
                    <section class="page-content">
                            {{page_text.text_html|safe}}
                    </section>
                    
                    <p class="published-date">{% if page.published %}{{page.last_updated_date}}{% endif %}</p>
                </article>

                {% endcache %}
                {% endwith %}
            {% endfor %}
            {% if num_pages %}
                <footer class="page_info">
                    <a href="{{request.path}}?page={{previous_page}}">«</a>
                    Page
                    <select id="page_selector">
                    {% for idx in page_range %}
                        <option val="{{idx}}" {%if current_page == idx%}selected{%endif%}>{{idx}}</option>
                    {% endfor %}
                    </select>of {{num_pages}}
                    <a href="{{request.path}}?page={{next_page}}">»</a>
                </footer>
                <script>
                    $(document).ready(function(){
                        $('#page_selector').change(function(){
                            window.location.href = "{{request.path}}?page=" + $(this).val();
                        });
                    });
                </script>
            {% endif %}
            {% endblock %}