{% load staticfiles %}
{% load pages_tags %}
<html>
    <head>
        <title>MrMichael</title>
        <link type="text/css" rel="stylesheet" href="{% static "pages/style.css"%}">
    </head>
    <body>
        <header>
            <a href="/">
                <figure>
                    <img src="{% static "pages/logo.png"%}" >
                </figure>
            </a>
            <nav>
                <ul>
                    <li class="selected"><a href="/">Blog</a></li>
                    <li><a href="/page/about/">About</a></li>
                    {# <li><a href="/page/pictures/">Pictures</a></li> #}
                    <li><a href="/page/resume/">Résumé</a></li>
                </ul>
            </nav>
        </header>
        <section class="main-content">
            {% for page in pages %}
                {% with page_text=page.page_text %}
                <article>
                    <section {% if page.header_bg %} class="article-header has-background" style="background-image: url('{{page.header_bg}}');"{% else %}class="article-header"{% endif %}>
                        <h1><a href="/page/{{page.url}}/">{{page_text.title}}</a></h1>
                    </section>
                    {{page_text.text|safe}}
                    
                    <p class="published-date">{% if page.published %}{{page.last_updated_date}}{% endif %}</p>
                </article>
                {% endwith %}
            {% endfor %}
        </section>
        <section class="side-content">
            <article>
                <h2>Michael</h2>
                <img src="{% static "pages/michael.jpg"%}" >
                <p>
                Software Developer from Nottingham – United Kingdom. Speaker of Japanese. Fan of tokusatsu and loud music. Eater of food.
                </p>
            </article>
            <article>
                <h2>Hire me</h2>
                <p>
                Looking for an awesome developer who enjoys working on the front end? Working on an exciting project? Based in not the UK? Email me: michael@mrmichael.co.uk
                </p>
            </article>
            <article>
                {% recent_updates %}
            </article>
        </section>
    </body>
</html>