{% extends "pages/base.html" %}
{% load staticfiles %}
{% block main_content %}
<article>
    <section>
        <h1 {%if user.is_superuser%}contenteditable{%endif%}>{{album.stream_title}}</h1>
        <small>{{album.subtitle}}</small>
    </section>
    <section class="album-images edit-mode">
    {% for image in images %}<!--
        --><a class="album-image-container" target="_blank" style="background-image: url('{{image.thumb}}');" href="{{image.full}}">
            {%if user.is_superuser%}<section class="make-default-image">make album thumbnail</section>{% endif %}
        </a><!--
    -->{% endfor %}
    </section>
</article>
{% endblock %}